{% load static %}
{% block head %} {% include 'header.html' %} {% endblock %}

<!-- blog -->
<section class="p-0 md-p-5">
    <div class="flex flex-wrap">
        <div class="w-100pc md-w-33pc p-10">
            <a href="{% url 'template' %}"
               class="block no-underline p-5 br-8 hover-bg-indigo-lightest-10 hover-scale-up-1 ease-300">
                <img class="w-100pc" src="{% static '' %}img/yoann-siloine-dyaxQ-aoGWY-unsplash.jpg" alt="">
                <p class="fw-600 white fs-m3 mt-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed…
                </p>
                <div class="indigo fs-s3 italic after-arrow-right my-4">more info </div>
            </a>
        </div>
        <div class="w-100pc md-w-33pc p-10">
            <a href="{% url 'template' %}" class="block no-underline p-5 br-8 hover-bg-indigo-lightest-10 hover-scale-up-1 ease-300">
                <img class="w-100pc" src="{% static '' %}img/fabrice-villard-Jrl_UQcZqOc-unsplash.jpg" alt="">
                <p class="fw-600 white fs-m3 mt-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed…
                </p>
                <div class="indigo fs-s3 italic after-arrow-right my-4">more info </div>
            </a>
        </div>
        <div class="w-100pc md-w-33pc p-10">
            <a href="{% url 'template' %}" class="block no-underline p-5 br-8 hover-bg-indigo-lightest-10 hover-scale-up-1 ease-300">
                <img class="w-100pc" src="{% static '' %}img/florian-klauer-mk7D-4UCfmg-unsplash.jpg" alt="">
                <p class="fw-600 white fs-m3 mt-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed…
                </p>
                <div class="indigo fs-s3 italic after-arrow-right my-4">more info </div>
            </a>
        </div>

    </div>
</section>
{% block foot %} {% include 'footer.html' %} {% endblock %}
